body {
    background: url(../IMAGENE1/fondo.jpg);
    background-size: cover;
    text-align: center;

}


  h1, h2, h6{color: white;
font-size: 30px;}

img{
    border-radius: 70px;
}

p{
    color: white;
    font-size: 20px;
    
}